$colors: (
    'dark': (

        'foreground-1': hsl(0, 0%, 100%),
        'foreground-2': hsl(0, 0%, 78%),
        'foreground-dimmed': hsl(0, 0%, 50%),

        'background-1': hsl(0, 0%, 12%),
        'background-2': hsl(0, 0%, 9%),
        'background-3': hsl(0, 0%, 5%),

        'user': hsl(209, 41%, 60%),
        'shadow': hsla(0, 0%, 0%, 0.2),
        'op': hsl(233, 50%, 9%),
        'mod': hsl(112, 46%, 18%),
    ),
    'light': (

        'foreground-1': hsl(0, 0%, 0%),
        'foreground-2': hsl(0, 0%, 12%),
        'foreground-dimmed': hsl(0, 0%, 24%),

        'background-1': hsl(0, 0%, 100%),
        'background-2': hsl(0, 0%, 83%),
        'background-3': hsl(0, 0%, 90%),

        'user': hsl(209, 53%, 51%),
        'shadow': hsla(0, 0%, 0%, 0.12),
        'op': hsl(210, 85%, 79%),
        'mod': hsl(111, 100%, 83%),
    ),
);

:root {
    @each $theme, $scheme in $colors {
        @media (prefers-color-scheme: $theme) {
            @each $key, $color-value in $scheme {
                --color-#{$key}: #{$color-value};
            }
        }
    }
}