:root {
    font-size: 12px;
    font-family: 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
    background-color: var(--color-background-2);
    color: var(--color-foreground-1);
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0.25em 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 2rem;
    font-weight: 400;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1.2rem;
}
h6 {
    font-size: 1rem;
}
p {
    font-size: 1.25rem;
    margin: 0;
    padding: 0;
}
a {
    color: inherit;
    text-decoration: none;
}

strong {
    color: var(--color-foreground-2);
    font-weight: 600;
}

em {
    color: var(--color-user);
    font-weight: 600;
    font-style: normal;
}

// ul, li {
    
// }
button {
    border: none;
    background-color: inherit;
}